html {
    background-color: #004303;
}

@media (width <= 1100px) {
    #info-title {
        padding-top: 12vh;
        margin-bottom: 7vh;

        height: auto;

        font-size: 2.604vw;

        width: 80%;

        margin-inline: auto;
    }

    #return {
        background-color: #006a06;

        border-radius: 20px;

        transition: all .5s ease-in-out;

        padding: 1em;

        color: whitesmoke;

        width: 15%;

        text-align: center;

        margin-bottom: 2vh;

        margin-left: 12%;
    }

    #return * {
        font-size: 5vw;
    }
}

@media (width >= 1100px) {
    #info-title {
        padding-top: 12vh;
        margin-bottom: 7vh;

        height: auto;

        font-size: 2.604vw;

        width: 80%;

        margin-inline: auto;
    }

    #return {
        background-color: #006a06;

        border-radius: 20px;

        transition: all .5s ease-in-out;

        padding: 1em;

        color: whitesmoke;

        width: 8%;

        text-align: center;

        margin-bottom: 2vh;

        margin-left: 12%;
    }
}

#information {
    width: 90%;

    margin-inline: auto;
    margin-top: 0;
}

#info-title {
    padding-top: 12vh;
    margin-bottom: 7vh;

    height: auto;

    font-size: 50px;

    width: 80%;

    margin-inline: auto;
}

#return {
    background-color: #006a06;

    border-radius: 20px;

    transition: all .5s ease-in-out;

    padding: 1em;

    color: whitesmoke;

    width: 8%;

    text-align: center;

    margin-bottom: 2vh;

    margin-left: 12%;
}

#return:hover {
    background-color: #6c9e61;

    scale: 1.1;

    color: black;
}

#info-text {
    border: medium solid;
    border-top-color: #8f8474;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

#info-desc {
    padding-top: 4vh;
}

#info-desc * {

}

#info-text * {
    margin-bottom: 3vh;

    width: 80%;

    margin-inline: auto;
}