html {
    background-color: #004303;
}

#title {
    text-align: center;

    padding-top: 10vh;
}

@media (width <= 1100px) {
    #title * {
        font-size: 3.5vw;
    }
}

@media (width >= 1100px) {
    #title * {
        font-size: 2.1371vw;
    }
}

#solution-cards {

}

#row-1 {
    width: 70%;

    margin-inline: auto;
}

#row-1 * {
    margin-inline: auto;
}

#row-2 {
    width: 70%;

    margin-inline: auto;
}

#row-2 * {
    margin-inline: auto;
}

.card {
    width: 26vw;
    height: 29.80vh;

    margin: 5vh 2vw;

    border-radius: 25px;

    transition: all 0.5s ease-in-out;
}

.card-title {
    font-size: 30px;

    text-align: center;

    margin-top: 5vh;
    margin-bottom: 15vh;

    opacity: 1;
}

#electric-vehicles {
    background-image: url("https://dukky0.github.io/webmaster-2024/resources/electricCar.png");
    background-position: center;

    opacity: 0.45;
}

#solar-energy {
    background-image: url("https://dukky0.github.io/webmaster-2024/resources/solar.png");
    background-position: center;

    opacity: 0.45;
}

#insulation {
    background-image: url("https://dukky0.github.io/webmaster-2024/resources/window.png");
    background-position: center;

    opacity: 0.45;
}

#household-changes {
    background-image: url("https://dukky0.github.io/webmaster-2024/resources/home.png");
    background-position: center;

    opacity: 0.45;
}

#passive-water-heating {
    background-image: url("https://dukky0.github.io/webmaster-2024/resources/Yellowstone.png");
    background-position: center;

    opacity: 0.45;
}

#electric-vehicles:hover {
    opacity: 1;
    transform: scale(1.2);
}

#solar-energy:hover {
     opacity: 1;
     transform: scale(1.2);
}

#insulation:hover {
    opacity: 1;
    transform: scale(1.2);
}

#household-changes:hover {
    opacity: 1;
    transform: scale(1.2);
}

#passive-water-heating:hover {
    opacity: 1;
    transform: scale(1.2);
}